{% extends 'cadastro_hotel/base.html' %}

{% block content %}
    <h1>Adicionar Cartão de Débito</h1>
    <form method="post">
      {% csrf_token %}

        <label for="nome_cartao">Nome no Cartão:</label>
        <input type="text" name="nome_cartao" required>

        <label for="numero_cartaodebit">Número do Cartão:</label>
        <input type="text" name="numero_cartaodebit" maxlength="16" required>

        <label for="data_expiracao">Data de Expiração:</label>
        <input type="date" name="data_expiracao" required>

      <label for="cvv">CVV:</label>
      <input type="text" name="cvv" maxlength="3" required>

      <button type="submit">Adicionar Cartão</button>
    </form>

{% endblock content %}