{% extends 'cadastro_hotel/base.html' %}

{% block title %}Reservar Quarto{% endblock %}

{% block content %}

<div class="alert alert-danger">
    <ul>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </ul>
</div>


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Confirmar Reserva</button>
</form>
{% endblock %}
